body {

}
.container {
	margin: 0px;
    padding: 0px;
    font-size: 0;
}
.main{
    display: inline-block;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
}
.main-right{
    display: inline-block;
    margin-left: 20px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
}
.bottom{
    display: inline-block;
    margin-top: 20px;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
}
.bottom-right{
    display: inline-block;
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    margin-left: 20px;
    margin-top: 20px;
}

.cell {
    display: inline-block;
    /*width: 18px;
    height: 18px;*/
    border-style: solid;
    border-width: 1px 0px 0px 1px;
}
.isSelected {
    background-color: red;
}
.text{

	font-size: 12px;
}
